services:
  web:
    build: .
    container_name: php-mysql-web
    ports:
      - "80:80"
    depends_on:
      - db
    networks:
      - appnet

  db:
    image: mysql:8.0
    container_name: php-mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: studentdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: app123
    ports:
      - "3306:3306"
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
